#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
}
.card{
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 80vw;
    margin: 10px 10vw;
}
.card > input{
    background-color: white;
    border-radius: 10px;
    width: 100%;
}
.card > *{
    margin: 5px 0;
}
.current{
    background-color: #9bc9f6;
    color: black;
}
@media only screen and (min-width: 1080px) {
    .card{
        width: 50vw;
        margin: 10px 25vw;
    }
}